.carousel.slide#mainCarousel(data-bs-ride="carousel")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="https://placebear.com/300/200", alt="Slide 1")
            .carousel-caption.d-none.d-md-block
              h5 Buy from us ! And save the Bears 
              p New Campaing
              a.btn.btn-success(href='#') Click 
