extends ../layouts/main-layout.pug

block content
  .container.mt-5
    .card.shadow-lg.rounded-4
      .card-body
        h3.text-center.mb-4 Add New Product
        form(action="/admin/add-product", method="POST")
          .mb-3.row
            label.col-sm-2.col-form-label(for="productName") Name
            .col-sm-10
              input.form-control(type="text", name="productName", placeholder="Product Name", required)

          .mb-3.row
            label.col-sm-2.col-form-label(for="productPrice") Price
            .col-sm-10
              input.form-control(type="number", name="productPrice", placeholder="Product Price", required)

          .mb-3.row
            label.col-sm-2.col-form-label(for="productImg") Image
            .col-sm-10
              input.form-control(type="text", name="productImg", placeholder="Image URL")
          .mb-3.row
            label.col-sm-2.col-form-label(for="categoryid") Category
            .col-sm-10
              select.form-control#categoryid(name="categoryid", placeholder="Category")
                option(value="-1") Select Category
                  each category in categories
                    option(value=`${category.CategoryID}`) #{category.name} 
          .mb-3.row
            label.col-sm-2.col-form-label(for="productDesc") Description
            .col-sm-10
              textarea.form-control(name="productDesc", rows="3", placeholder="Product Description")

          .text-end.mt-4
            button.btn.btn-primary.btn-lg.rounded-pill(type="submit") Save Product