extends ../layouts/main-layout.pug

block content
 .container.mt-5
      .row.justify-content-center
        .col-md-8
          .card.shadow-lg.rounded-4.border-0
            .card-body.text-center.py-5
              h1.display-3.text-danger 505
              h3.text-secondary.mb-4 Internal Server Error
              p.text-muted.mb-4 Something went wrong. 
              a.btn.btn-primary.btn-lg.rounded-pill(href='/') Back to Home Page