extends ../layouts/main-layout.pug
include ../includes/list-product.pug

block  content
 .row
    .col-md-3
      include ../includes/category-menu.pug
    if  product.length > 0  
        each p in product
            +listProduct(p)
    else 
        h1 No Product