extends ../layouts/main-layout.pug


block content
  .container.mt-5
      .card.shadow-lg.rounded-5
        .card-body(id="cardBody")
          h1.text-center.mb-2 Register 
          form(action="/register", method="POST")
            .mb-2.row
              label.col-sm-2.col-form-label(for="email") Email
              .col-sm-10
                input.form-control(type="email", name="email", id="email", placeholder="Email", required)
            .mb-2.row
              label.col-sm-2.col-form-label(for="password") Password
              .col-sm-10
                input.form-control(type="password", name="password", id="password" placeholder="Password", required)
            .mb-2.row
              label.col-sm-2.col-form-label(for="repassword") Re-Password
              .col-sm-10
                input.form-control(type="password", name="repassword", id="repassword" placeholder="Repassword", required)
            .text-end.mt-4
              button.btn.btn-primary.btn-lg.rounded-pill(type="submit",id="buttonReg") Register
          div.alert(id="msg") 
          if (msg) 
            div.alert.alert-danger(id="mailAlert") #{msg}

  script(src="/js/regController.js") 