extends ../layouts/main-layout.pug

include ../includes/list-product.pug


block  content
  .row
    .col-md-3
      include ../includes/category-menu.pug
        
    .col-md-9
      h3.mt-4 Products
      .row.row-cols-1.row-cols-md-3.g-4.mt-2
        if  products.length > 0  
          each p in products
            +listProduct(p)
        else 
          h1 No Product
