doctype html
html(lang="tr")
  include ../includes/head.pug
    block styles
  body
    
    include ../includes/nav-bar.pug
  
    .container.mt-4

          block content

    // ===== Bootstrap JS =====
    include ../includes/scripts.pug