extends ../layouts/main-layout.pug

block content
 .container.mt-5
      .row.justify-content-center
        .col-md-8
          .card.shadow-lg.rounded-4.border-0
            .card-body.text-center.py-5
              h1.display-3.text-danger 404
              h3.text-secondary.mb-4 Not Found 
              p.text-muted.mb-4 The page you looking may be lost or moved.
              a.btn.btn-primary.btn-lg.rounded-pill(href='/') Back to Home Page